<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>后台管理系统</title>
    <meta name="keywords" content="星座,星座运势,开运信息,星座配对,解梦信息" />
    <meta
      name="description"
      content="专业星座运程信息，提供星座、个性、开运信息、运势、配对、解梦信息、血型、生肖、塔罗牌、算命、风水等星相命理信息"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <link rel="icon" href="/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <noscript>Out-of-the-box mid-stage front/design solution!</noscript>
    <div id="root"></div>
  </body>
</html>
